<mat-card>
    <h1>Fix Author name</h1>
    <form #editauthor="ngForm" (ngSubmit)="onSubmit()">
     <div class="example-container">
        <br>
        <input 
        [(ngModel)] = "author"
         placeholder="author" 
        name = "author"
        #editauthors = "ngModel">
  
        <div >
            <!--<button mat-raised-button color="primary" >{{buttonText}}</button>-->
            <button mat-raised-button >edit</button>
        </div>
      </div>
    </form>
    </mat-card>