<p *ngIf = "!(books$ )">Loding...</p>
<br>
<button mat-raised-button color="primary"  [routerLink] ="['/addbook']">add book</button>
<br>
<br>
    <mat-accordion>

        <mat-expansion-panel *ngFor = "let book of books$ | async">
          <mat-expansion-panel-header>
            {{book.title}}
          </mat-expansion-panel-header>
      
          by {{book.author}}
      <br>
      <br>
      <button mat-raised-button color="primary"  [routerLink]="'/addbook/' + book.id">Edit</button>
      <br>
      <br>
      <button mat-raised-button color="primary" (click)=deletebook(book.id)>
        Delete Book
       </button>

        </mat-expansion-panel>

      </mat-accordion>