
<p *ngIf = "!(postsdata$ | async )">Loding...</p>
<br>
<button mat-raised-button color="primary"  [routerLink] ="['/addpost']">add post</button>
   <!-- <button mat-raised-button color="primary" (click)=savePosts()>
    Upload all
   </button>  
   <p>{{message}}</p>  -->

   <!-- <p>{{message}}</p>
   <button mat-raised-button color="primary" (click)=deleteAllPost()>
    Delete all posts
   </button>   -->
   <p>{{message}}</p> 
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of postsdata$ | async">   
     <!-- <div *ngFor="let user of usersdata$" >
        <div *ngIf = "user.id == post.userId;other"> Author: {{user.name}}, Author EMail: {{user.email}}</div>
    </div>  -->
      <mat-expansion-panel-header>
        <mat-panel-title>
            <h3>id: {{post.id}}, title: {{post.title}}, author: {{post.author}}, email:{{post.email}} </h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
     <p>{{post.body}}</p>
     <button mat-raised-button color="primary"  [routerLink]="'/addpost/' + post.id">Edit</button>
     <br>
     <br>
     <button mat-raised-button color="primary" (click)=deletePost(post.id)>
      Delete post
     </button>
    </mat-expansion-panel>
  </mat-accordion>

