<mat-card>
    <h1>{{buttonText}}</h1>
    <form #addpost="ngForm" (ngSubmit)="onSubmit()">
     <div class="example-container">
        <br>

        <input 
        [(ngModel)] = "title"
         placeholder="title" 
        name = "title"
        #auth = "ngModel">
        <br>
        <input 
        [(ngModel)] = "author"
         placeholder="author" 
        name = "author"
        #auth = "ngModel">
        <br>
        <input 
        [(ngModel)] = "body"
         placeholder="body" 
        name = "body"
        #auth = "ngModel">
        <br>
        <input 
        [(ngModel)] = "Email"
         placeholder="Email" 
        name = "Email"
        #auth = "ngModel">
        


        <div >
            <!--<button mat-raised-button color="primary" >{{buttonText}}</button>-->
            <button mat-raised-button >{{buttonText}}</button>
        </div>
      </div>
    </form>
    </mat-card>